.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    font-size: 2rem;
    padding: 2rem;
  }
  
  .icon {
    font-size: 2rem;
  }
  